<!-- 级菜单. 选中状态需要增加active. -->
<nav class="bar bar-tab">
	<a class="tab-item <%=menu_my%>" href="/sign/my">
		<span class="tab-label">我的积分</span>
	</a>
	<a class="tab-item <%=menu_lucky%>" href="/sign/lucky">
		<span class="tab-label">试试手气</span>
	</a>
	<a class="tab-item <%=menu_exchange%>" href="/sign/exchange">
		<span class="tab-label">积分兑换</span>
	</a>
</nav>