.dis-box {
  display: box;
  display: -moz-box;
  display: -webkit-box;
}
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}
/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.show {
  display: block !important;
  visibility: visible;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}
/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clearfix:after {
  clear: both;
}
/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}
body {
  font-size: 14px;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
  margin: 0 auto;
  padding: 0px;
}
.content {
  background: #e1e1e1;
}
.bar {
  background: #e1e1e1;
  border-top: solid 1px #b9b9b9;
}
.bar-tab .tab-item {
  color: #000000;
}
.bar-tab .tab-item.active,
.bar-tab .tab-item:active {
  color: #e60012;
}
.myinte {
  border: solid 1px #adadad;
  border-radius: 10px;
  overflow: hidden;
}
.myinte h1 {
  font-size: 14px;
  margin: 0 auto;
  padding: 0px;
  padding: 0px 20px;
  background: #e7e7e7;
}
.myinte h1 span {
  display: inline-block;
  background: #16a7cb;
  padding: 0px 5px;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: relative;
}
.myinte h1 span:before {
  content: " ";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -2.5px;
  border-width: 5px;
  border-style: solid solid solid solid;
  border-color: #16a7cb transparent transparent transparent;
}
.myinte .jf {
  border-top: solid 1px #c2c2c2;
  padding: 10px 20px;
  line-height: 24px;
  background: #f2f2f2;
}
.myinte .jf a {
  float: right;
  padding: 5px;
  background: #e1e1e1;
  border-radius: 3px;
  color: #000;
  line-height: 16px;
}
.myinte .jf span {
  margin-left: 5px;
  color: #b57578;
}
.line {
  border-top: solid 1px #b9b9b9;
}
.rule-info h2 {
  font-size: 1.1rem;
  text-align: center;
}
.rule-info h3 {
  font-size: 1.1rem;
}
.rule-info ul {
  margin: 0 auto;
  padding: 0px;
}
.rule-info ul li {
  list-style: none;
}
.type-list .item {
  margin-bottom: 10px;
}
.topic {
  background: #fff;
  box-shadow: 0px 0px 3px #666;
  border-radius: 3px;
  overflow: hidden;
  margin-bottom: 10px;
}
.topic .topic-description img {
  float: left;
}
.topic .topic-description h2 {
  margin-left: 80px;
}
.topic .topic-description h2 span {
  color: #005bc1;
}
.topic .topic-title {
  padding: 10px 10px;
  margin-bottom: 0px;
  color: #001f7f;
}
.topic .topic-title h1 {
  margin-bottom: 3px;
}
.topic .topic-title p {
  color: #bebebe;
  margin: 0 auto;
  padding: 0px;
}
.topic .topic-title span {
  color: #787878;
}
.topic .topic-title ~ .comment {
  border-top: solid 5px #ebebeb;
}
.topic ul li {
  padding: 5px 10px;
  background: #fee5c2;
  margin-bottom: 10px;
}
.topic ul li p {
  margin: 0 auto;
  padding: 0px;
  color: #9e9e9e;
}
.topic ul li span {
  color: #005bc1;
}
.topic .text {
  padding: 10px 10px;
}
.topic .text p {
  margin: 0 auto;
  padding: 0px;
}
.topic .text .c {
  padding-left: 0.8rem;
}
.topic .lot li {
  background: transparent;
  margin-bottom: 0px;
  border-bottom: solid 5px #ebebeb;
  line-height: 3.6rem;
}
.topic .lot li img {
  float: right;
  width: 20%;
  vertical-align: middle;
}
.topic .lot li:last-child {
  border-bottom: solid 0px #ebebeb;
}
.sendmsg {
  margin-top: 5px;
}
.sendmsg .form-group {
  text-align: center;
}
.sendmsg .form-group .input-ctrl {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0px;
  display: inline-block;
  padding: 2px 5px;
}
.sendmsg .form-group .btn {
  margin-top: -7px;
}
.slot {
  position: relative;
}
.slot .bg {
  position: relative;
}
.slot .pline {
  position: absolute;
  top: 0px;
  left: 0px;
}
.slot .random {
  position: absolute;
  top: 6%;
  left: 0px;
  width: 100%;
  height: 83%;
  overflow: hidden;
}
.slot .items {
  float: left;
  width: 33%;
  height: auto;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  text-align: center;
}
.slot .items .item {
  margin: 0px 25.5%;
}
.lucky-btn {
  margin: 0 auto;
  padding: 0px;
  width: 30%;
  height: auto;
}
.note1 {
  padding-top: 10px;
}
iframe.content {
  width: 100%;
  height: 100%;
  border: none;
}
.registration {
  position: relative;
}
.registration .l1 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 100%;
  height: 40%;
}
.registration .l2 {
  position: absolute;
  top: 40%;
  left: 0px;
  display: block;
  width: 100%;
  height: 18%;
}
.registration .l3 {
  position: absolute;
  top: 60%;
  left: 0px;
  display: block;
  width: 100%;
  height: 18%;
}
.registration .l4 {
  position: absolute;
  top: 80%;
  left: 0px;
  display: block;
  width: 100%;
  height: 16%;
}
.h1 {
  font-size: 1.4rem;
}
.h2 {
  font-size: 1.2rem;
}
.h3 {
  font-size: 1rem;
}
.h4 {
  font-size: 0.8rem;
}
@media screen and (max-width: 321px) {
  body {
    font-size: 12px;
  }
  .h1 {
    font-size: 1.2rem;
  }
  .h2 {
    font-size: 1.1rem;
  }
  .h3 {
    font-size: 1rem;
  }
  .h4 {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 401px) {
  body {
    font-size: 16px;
  }
  .h1 {
    font-size: 1.6rem;
  }
  .h2 {
    font-size: 1.4rem;
  }
  .h3 {
    font-size: 1.2rem;
  }
  .h4 {
    font-size: 1rem;
  }
}
