extends layout
block content_here
	include nav
	.content
		.content-padded
			h1.h2(style="text-align:center;") 敬请期待
			//- .type-list
			//- 	a.item(href="/sign/exchange/1")
			//- 		img(src="/img/t-1.png")

block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "#{config.host}/img/weixin-jianianhua.jpg",
		url:    "http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200560267&idx=1&sn=ff18fdd9bbf0efe2dde9ccc8d3028fb4#rd",
		title:  "三星乐园嘉年华，关注有礼赢大奖",
		desc:   "关注得积分，抽奖有惊喜，赢取Samsung GALAXY Tab S 等千份好礼~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")