extends layout
block content_here
	include nav
	.content
		.content-padded
			h1.h2(style="text-align:center;") 敬请期待
			//- .type-list
			//- 	a.item(href="/sign/exchange/1")
			//- 		img(src="/img/t-1.png")