extends layout
block content_here
	include nav
	.content
		.content-padded
			.type-list
				a.item(href="/sign/exchange/1")
					img(src="/img/type-video.png")
				a.item(href="/sign/exchange/2")
					img(src="/img/type-music.png")