extends layout
block title
	| 玩游戏
block content_here
	//- include nav
	//- .weixin-share
		img(src="http://#{config.host}/img/weixin-game.jpg")
	.content
		.content-padded
			.type-list
				-for(var i=0;i<list.length;i++)
					a.item(href="/sign/exchangelot/#{list[i]._id}",onclick="post(this); return false;")
						img(src="#{list[i].img}")

block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://#{config.host}/img/weixin-game.jpg",
		url:    location.href,
		title:  "玩游戏",
		desc:   "三星专属游戏礼包等你来拿~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")
	script.
		_submit = false;
		function post(o) {
			_submit = true;
			$.ajax({
				async: false,
				url: $(o).attr("href"),
				type: 'GET',
				dataType: 'json',
				success: function(msg) {
					if (msg.recode === 200) {
						window.location.href = "/sign/mylot/"+msg.reason;
						//- _hmt.push(['_trackEvent', '注册', '提交', '']);
					} else {
						_submit = false
						return showalert(msg.reason);
					}
				}
			});
		}