extends layout
block css_here
	style.
		form {
		}
		.form table{
			border-collapse: collapse;
		}
		.form table td {
			border: 1px solid #000;
		}
		.form table td input {
			margin:0px;
			border:none;
		}
		.form table .t {
			text-align:center;
			width:25%;
		}
		.btns {
			width:100%;
			text-align:center;
			padding-top:10px;
		}
		.btns .btn-s {
			width:25%;
			display:inline-block;
		}
		.hf label{
			float:left;
			width:20%;
			line-height:35px;
			text-align:center;
			background-color:#ea8601;
			border-radius: 5px;
			margin-right:4%;
			color:#fff;
		}
		.hf input{
			width:75%;
		}
		.sharenow {
			position:absolute;
			top:0%;
			right:5px;
			width:15%;
			padding-top:5px;
			z-index:999;
		}
block content_here
	include nav
	.content(style="background-color:#fff;")
		//- img(src="/img/lots-4.jpg")
		div.sharenow.lotsnote
			img(src="/img/sharenow.png")
		img(src="/img/#{win.img}")
		.content-padded
			-if (win.info == "50hf")
				div.hf
					label 卡密
					input(type="text",value="#{win.content}")
				div.share
					img(src="/img/lots-share.jpg")
			-else
				form(name="register",action="/sign/winner/#{win._id}").form
					.form-title
						img(src="/img/lots-title.png")
					.form-list
						table
							tr
								td.t 姓名
								td
									input(type="text",name="username")
							tr
								td.t 电话
								td 
									input(type="text",name="mobile")
							tr
								td.t 邮寄地址
								td
									input(type="text",name="adr")
					.btns
						div.btn-s(name="submit")
							img(src="/img/submit-lucky.png")



block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-#{win.info}.jpg",
		url:    "http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200560267&idx=1&sn=ff18fdd9bbf0efe2dde9ccc8d3028fb4#rd",
		title:  "三星乐园嘉年华，关注有礼赢大奖",
		desc:   "关注得积分，抽奖有惊喜，赢取Samsung GALAXY Tab S 等千份好礼~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")
	script.
		$(document).ready(function(){
			$("[name=submit]").click(function(){
				$.ajax({
					url:$('[name=register]').attr("action"),
					type: 'POST',
					data: $('[name=register]').serializeArray(),
					dataType: 'json',
					success: function(msg){
						if (msg.recode == 200){
							alert("提交成功,已经将您的信息存入,请不要重复提交.");
							//- window.location.reload();
						}else{
							alert(msg.reason);
						}
					}
				});
			});
		});