extends layout
block css_here
block content_here
	//- include nav
	.content(style="background-color:#fff;")
		//- img(src="#{lots.img}")
		//- a(href="http://mp.weixin.qq.com/s?__biz=MjM5MjgzOTc4MQ==&mid=200825399&idx=1&sn=e731ce2615e453d249963f7e42309e37&scene=1&from=singlemessage&isappinstalled=0#rd")
		.content-padded
			div.sharenow.lotsnote
				img(src="/img/sharenow.png")
			img(src="/img/lots-300.jpg")
		


block js_here
	script.
		var dataForWeixin={
		appId:  "", 
		img: "#{config.host}/img/weixin-jianianhua.jpg",
		url:    "#{config.host}/share/300",
		title:  "三星乐园嘉年华",
		desc:   "三星乐园嘉年华，Samsung GALAXY Tab S等千份好礼等你来拿！" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")

