extends layout
block css_here
block content_here
	//- include nav
	.content(style="background-color:#fff;")
		//- img(src="#{lots.img}")
		a(href="meizhoudongpojituan")
			img(src="/img/lots-hg.jpg")
		




