extends layout
block css_here
	script(src="/js/lufylegend-1.8.6.min.js")
	script.
		if(LGlobal.canTouch){
			LGlobal.stageScale = LStageScaleMode.NO_BORDER;
			LSystem.screen(LStage.FULL_SCREEN);
		}
	script(src="/js/reel.js")
	script(src="/js/game.js")
block content_here
	include nav
	.content
		div#mylegend(style="height:240px;") 加载中
		.content-padded
			//- div.slot
				div.bg
					img(src="/img/lucky-bg.jpg")
				div.random
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
				div.pline
					img(src="/img/lucky-line.png")
			div.lucky-btn
				a#luckybtn(href="/sign/getlucky",onclick=" post(this); return false;")
					img(src="/img/lucky-try.png")
				a#luckysubmit(href="http://wservice.yazuosoft.com/yazuo-weixin/weixin/phonePage/registerPage.do?brandId=1631&weixinId=o_bYSuF_emkC8kJ6MZOgK_4o7i9U&from=singlemessage&isappinstalled=0",style="display:none;")
					img(src="/img/submit-lucky.png")
			div.lucky-content
				img(src="/img/lucky-content.png")



block js_here
	script.
		_loting = false
		function getLot() {
			if (_loting){
				return false; 
			}
			onmouseup({});
			setTimeout(function(){
				stopevent({},{index:1});
			},3000);
			setTimeout(function(){
				stopevent({},{index:2});
			},3500);
			setTimeout(function(){
				stopevent({},{index:0});

			},4000);
		}
		_submit = false;
		function GameOver() {
			$("#luckysubmit").show()
			$("#luckybtn").hide()
		}
		function post(o) {
			_submit = true;
			$.ajax({
				async: false,
				url: $(o).attr("href"),
				type: 'GET',
				dataType: 'json',
				success: function(msg) {
					if (msg.recode == 200) {
						getLot();
					}else{
						alert(msg.reason);
					}
				}
			});
		}
