extends layout
block content_here
	include nav
	.content
		.content-padded
			div.slot
				div.bg
					img(src="/img/lucky-bg.jpg")
				div.random
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
					div.items
						div.item
							img(src="/img/icon-l-1.png")
						div.item
							img(src="/img/icon-l-2.png")
						div.item
							img(src="/img/icon-l-3.png")
						div.item
							img(src="/img/icon-l-4.png")
						div.item
							img(src="/img/icon-l-5.png")
				div.pline
					img(src="/img/lucky-line.png")
			div.lucky-btn
				a(href="/sign/getlucky",onclick=" post(); return false;")
					img(src="/img/lucky-try.png")
			div.lucky-content
				img(src="/img/lucky-content.png")
block js_here 
	script.
		_submit = false;
		function post(o) {
			_submit = true;
			$.ajax({
				async: false,
				url: $(o).attr("href"),
				type: 'GET',
				dataType: 'json',
				success: function(msg) {
					alert('积分不足');
				}
			});
		}
