extends layout
block content_here
	include nav
	.content
		.content-padded
			.myinte
				h1
					span 我的资料
				div.jf 微信积分:
					span #{inte}
					//- 
					a(href="/sign/tointe",onclick="return qiandao()") 立即签到
		div.line
		div.note1
			img(src="/img/note-1.jpg")