extends layout
block title
	| 您专属的积分银行，快来看看你的小金库~
block content_here
	.weixin-share
		img(src="http://115.28.106.34/img/weixin-my.jpg")
	include nav
	.content
		.content-padded
			.myinte
				h1
					span 我的资料
				div.jf 微信积分:
					span #{inte}
					//- 
					a(href="/sign/tointe",onclick="return qiandao()") 立即签到
		div.line
		div.note1
			img(src="/img/note-1.jpg")