//一级菜单. 选中状态需要增加active.
nav.bar.bar-tab
	a(class="tab-item #{menu_my}",href="/sign/my")
		span.tab-label 我的积分
	//- a(class="tab-item #{menu_lucky}",href="/sign/lucky")
		span.tab-label 试试手气
	a(class="tab-item #{menu_exchange}",href="/sign/exchange")
		span.tab-label 积分兑换