extends layout
block title
	| 解问题
block content_here
	//- 解问题
	//- .weixin-share
		img(src="http://115.28.106.34/img/weixin-page4.jpg")
	.content
		//- img(src="/img/page-4.jpg")
		.coo-item.coo
			.coo-title 最常见问题
			.coo-content
				ul
					li
						h2.h3 <span>1</span>【三星账号】需要帮助时，我可以与谁联系？
						p.h4.hide 如果您在使用三星账户时需要我们提供进一步的帮助（如：注册，登录），请与我们的客户服务中心联系（<a href="http://help.content.samsung.com">help.content.samsung.com</a>>联系我们）。
					li
						h2.h3 <span>2</span>【三星账号】“三星账户”是什么？
						p.h4.hide 三星账户时允许在智能手机，平板电脑，网站，电视等设备上使用三星服务的综合会员。您无需注册每个服务，一个三星账户就可以让您享用每种三星服务。如果您想了解更多三星账户内容，请访问三星账户网站查询。-三星账户网站：<a href="http://account.samsung.com">http://account.samsung.com</a>
					li 
						h2.h3 <span>3</span> 【三星账号】通过三星账户，我可以使用何种服务？
						p.h4.hide 通过三星账户，您可以使用包括Samsung apps和Game Hub在内的绝大多数三星服务。请访问以下网站查询更多服务。<br/>-三星账户网站：<a href="http://account.samsung.com">http://account.samsung.com</a>
					li 
						h2.h3 <span>4</span> 【查找我的手机】通首次激活“查找我的手机”服务时，我需要做些什么？
						p.h4.hide 要使用“查找我的手机”服务，必须激活设备的“远程控制”功能。<br/>选择“设置>安全>查找我的手机>远程控制”。<br/>成功注册三星账户后，设备的“远程控制”功能将自动激活。要通过无线信号或Wi-Fi连接跟踪设备，您必须接受“使用无线网络”的条款和条件。<br/>*请注意：必须满足一下条件方可启用“查找我的手机”服务。<br/>1.设备已开机。<br/>2.设备已联网。<br/>3.您已登录三星账户。（对于某些Android设备，您需要登录Google账户）<br/>4.“远程控制”功能已激活。
					li
						h2.h3 <span>5</span> 【查找我的手机】我是否必须先注册Google账户，然后才能在android机型中使用“查找我的手机”服务？
						p.h4.hide 是的，对于部分android机型，您需要为手机注册Google账户。
					li 
						h2.h3 <span>6</span> 【查找我的手机】我如何检查我的设备状态？
						p.h4.hide 您可以通过以下3条显示在屏幕上的不同信息识别您手机状态；<br/>-在线：设备开机且正常连接到网络时显示此状态。<br/>-离线：设备关机活未正常连接到网络时显示此状态。<br/>-检查：系统正在检查您的设备状态时显示此状态。<br/>检查可能需要几分钟的时间。
					li 
						h2.h3 <span>7</span> 【三星智能共享】如何注册计算机？
						p.h4.hide 1.从计算机访问三星智能共享站点。（<a href="http://link.samsung.cn">http：//link.samsung.cn</a>）<br/>2.使用您的三星账户登录。<br/>3.安装三星智能共享计算机软件。<br/>4.注册您的计算机。
					li 
						h2.h3 <span>8</span> 【网站】如何注册我的设备？
						p.h4.hide 
							img(src="/img/page5-1.jpg")
					li 
						h2.h3 <span>9</span> 【查找我的手机】我可以在哪些国家/地区使用“查找我的手机”服务？
						p.h4.hide “查找我的手机”服务在全球130多个国家和地区可用。<br/>-支持Galaxy S的手机追踪服务仅在英国和德国提供。<br/>更多信息，请参阅相应机型的“帮助”部分。
					li 
						h2.h3 <span>10</span> 【网站】如何在我的设备上安装服务应用程序？
						p.h4.hide *在您的设备上转至<a href="http://content.samsung.com">content.samsung.com</a>。<br/>*如果您的设备上尚未安装服务应用程序，请单击每个服务的简介页面中的“使用”按钮。您将会转到Sansung Apps的安装页面以安装服务应用程序。

		.coo-item2.coo
			.coo-title 最新常见问题
			.coo-content
				ul
					li
						h2.h3 <span>1</span>【三星钱包】我注册了会员卡，但尚未uc黄健条码。
						p.h4.hide 支持Jpg、png 和 bmp文件。（不支持 Gif 文件。）<br/><br/>要注册您的会员卡，请单击主页屏幕右上方的“+”，然后在“添加项目”菜单中选择“会员卡”，或选择左侧菜单中的“会员卡”旁边的“+”。或者，您可以选择“合作伙伴优惠”选项卡中“手动添加”。如果实际卡片上带有条码，请选择“点按此处扫描条码”并将条码置于相机的方格中，条码随即会被读取并保存在三星钱包中。如果相机识别功能无法正常运行，请在草庙屏幕上稍等片刻。系统将会打开一个手动条码创建屏幕。输入会员号码，然后选择与实际条码最相似的条码类型。如果实际卡片上没有条码，请对“您的卡是否有条码？”选择“否”，然后输入会员卡号码。如果实际卡片上没有条码，则不会在三星钱包中创建条码。
					li
						h2.h3 <span>2</span> 【Group Play】可共享哪些图像格式？
						p.h4.hide 支持Jpg、png 和 bmp文件。（不支持 Gif 文件。）
					li
						h2.h3 <span>3</span> 【Group Play】可共享哪些音乐格式？
						p.h4.hide 支持WAV和MP3文件。（不支持Ogg、Flsc、m4a和wma文件。）
					li
						h2.h3 <span>4</span> 【Group Play】共享音乐功能在更新消失。
						p.h4.hide 如果您的设备仍在使用旧版本（v1.5）的Group Play，则会发生此现象，因为当前固件不支持此功能，Group Play团队当前正在努力进行一步开发，并将在2014年10月份推出此功能。对于因此带来的不便，我们深表歉意。
					li
						h2.h3 <span>5</span> 【Group Play】下载Group Play时，出现“包文件未正确签署”错误信息。无法更新活卸载文件。
						p.h4.hide 某些设备当前正在遇到此问题。访问以下链接以下载最新的APK。
					li
						h2.h3 <span>6</span> 【三星账号】什么事是个人验证？
						p.h4.hide 当您以中国会员身份注册Samsung account时，必须使用您的身份证、军人证或护照才能完成个人验证。根据验证选项，个人验证可以是“身份证验证”活“军人证/护照验证”。<br/>每个验证的处理方式如下。<br/>*身份证验证<br/>1）请输入您的身份证号码、姓氏和名字。<br/>2）单击“确定”已完成验证。<br/>注册之后，无法修改已验证的姓氏、名字和出生日期。<br/>*军人证/护照验证<br/>1）请选择验证选项（军人证活护照）。<br/>2）请输入您的军人证/护照码、姓氏和名字。<br/>3）单击“确定”以保存您的身份证号码。<br/>4）您可以访问‘三星会员俱乐部’网站并上传军人证活护照的扫描副本，已完成验证过程。<br/><br/>三星会员俱乐部：<a href="http://club.samsung.com/cn">http://club.samsung.com/cn</a>
					li
						h2.h3 <span>7</span> 【查找我手机】首次激活“查找我的手机”服务时，我需要做些什么？
						p.h4.hide 要使用“查找我的手机”服务，必须激活设备的“远程控制”功能。<br/>选择“设置>安全>查找我的手机>远程控制”。<br/>成功注册三星账户后，设备的“远程控制”功能将自动激活。要通过无线信号和/或Wi-Fi链接跟踪设备，您必须接受“使用无线网络”的条款和条件。<br/>*请注意：必须满足一下条件放可启用“查找我的手机”服务。<br/>1.设备已开机。<br/>2.设备已联网。<br/>3.您已登录三星账户。（对于某些Android设备，您需要登录Google账户）<br/>4. 注册您的计算机。
					li
						h2.h3 <span>8</span> 【查找我手机】我可以在哪些国家/地区使用“查找我的手机”服务？
						p.h4.hide “查找我的手机”服务在全球 130 多个国家和地区可用。<br/>- 支持 Galaxy S 的手机追踪服务仅在英国和德国提供。更多信息，请<br/>参阅相应机型的“帮助”部分。
					li
						h2.h3 <span>9</span> 【查找我的手机】我可以在那些设备上使用“查找我的手机”服务？
						p.h4.hide “查找我的手机”服务的用户指南中列出了所有兼容的设备和型号。如果设备的“设置 > 安全”下显示有“查找我的手机”菜单，则表示此服务支持您的设备。<br/>*“查找我的手机”服务的可用性因国家/地区而异。 
					li
						h2.h3 <span>10</span> 【查找我的手机】我如何在手机上使用“查找我的手机”服务？
						p.h4.hide 通过手机网站服务，您可以在设备上使用“查找我的手机”服务的关键功能。<br/>* 手机网站服务在有些机型上可能无法运行。
block js_here
	script.
		$(document).ready(function(){
			$(".coo li").click(function(){
				if ($("p",this).is(".hide")) {
				$(".coo li p").addClass("hide");
				$("p",this).removeClass("hide");
				}else{
				$(".coo li p").addClass("hide");
				}
			});
		});
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-page4.jpg",
		url:    location.href,
		title:  "解问题",
		desc:   "你遇到的问题，这里都能解决~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")