extends layout
block title
	| 新活动
block css_here
	style.
		.active-1 {
			position:relative;
		}
		.active-1 .m {
			display:block;
			width:80%;
			height:60px;
			position:absolute;
			top:83%;
			//top:93%;
			left:10%;
		}
block content_here
	//- div.weixin-share
		img(src="#{config.host}/img/weixin-jianianhua.jpg")
	.content
		div.active-1
			//-a.m(href="/sign/lucky")
			a.m(href="http://weiresearch.5mo.cn/tabs/shareResult.html")
			img(src="/img/active-1.jpg") 
		
block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "#{config.host}/img/weixin-jianianhua.jpg",
		url:    location.href,
		title:  "新活动",
		desc:   "参与活动Samsung GALAXY Tab S 拿回家！​" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")








		


