extends layout
block title
	| 寻合作

block content_here
	//- 寻合作
	//- .weixin-share
		img(src="#{config.host}/img/weixin-page5.jpg")
	.content(style="background:#ebebeb;")
		//- img(src="/img/page5.jpg")
		.coos
			.coo-title.h1 战略合作
			.coo-content.h3 联系方式:partnerchina@samsung.com
		.coos
			.coo-title.h1 来成为三星乐园的小伙伴吧~
			.coo-content.h3 活动合作与推广，请发送邮件至 samsungapps@163.com

		
block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "#{config.host}/img/weixin-page5.jpg",
		url:    location.href,
		title:  "寻合作",
		desc:   "还傻站着张望什么！赶快加入乐园一起合作吧~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")