extends layout
block content_here
	//- 签到
	.content
		div.registration
			a.l1(href="/art/6")
			a.l2(href="/active/1")
			a.l3(href="/art/15")
			a.l4(href="/sign/exchange/1")
			img(src="/img/qiandao-list.jpg")
		a(href="/sign/tointe",onclick="return qiandao()")
			img(src="/img/qdbtn.png")