extends layout
block content_here
	//- 解问题
	.content
		.content-padded
			div.topic
				div.box
					div.topic-title
						h1.h3 开发者
					div.comment
						div.text 
							p.h4 本地支持邮箱(MSCC):chinaapps@samsung.com
			div.topic
				div.box
					div.topic-title
						h1.h3 活动合作
					div.comment
						div.text 
							p.h4 本地支持邮箱(MSCC):chinaapps@samsung.com
			div.topic
				div.box
					div.topic-title
						h1.h3 推广合作
					div.comment
						div.text 
							p.h4 本地支持邮箱(MSCC):chinaapps@samsung.com