extends layout
block title
	| 来签到
block content_here
	//- 来签到
	//- .weixin-share
		img(src="http://115.28.106.34/img/weixin-page7.jpg")
	.content
		div.registration
			a.l1(href="http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200559196&idx=1&sn=65df46c2bf8f852d815d3bb887c96ee2#rd")
			a.l2(href="/page1")
			a.l3(href="http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200559296&idx=1&sn=15090e2e6a8708a6cf9e5373dcf061a8#rd")
			a.l4(href="/sign/exchange/1")
			img(src="/img/qiandao-list.jpg")
		a(href="/sign/tointe",onclick="return qiandao()")
			img(src="/img/qdbtn.png")

block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-jianianhua.jpg",
		url:    "http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200560267&idx=1&sn=ff18fdd9bbf0efe2dde9ccc8d3028fb4#rd",
		title:  "三星乐园嘉年华，关注有礼赢大奖",
		desc:   "关注得积分，抽奖有惊喜，赢取Samsung GALAXY Tab S 等千份好礼~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")