extends layout
block title
	| 嘉年华
block css_here
	style.
		.active-1 {
			position:relative;
		}
		.active-1 .m {
			display:block;
			width:80%;
			height:60px;
			position:absolute;
			top:93%;
			left:10%;
		}
block content_here
	//- div.weixin-share
		img(src="http://115.28.106.34/img/weixin-jianianhua.jpg")
	.content
		div.active-1
			a.m(href="/sign/lucky")
			img(src="/img/active-1.jpg") 
		
block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-jianianhua.jpg",
		url:    location.href,
		title:  "嘉年华",
		desc:   "关注三星乐园微信公众帐号，惊喜大礼等你认领！" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")








		


