extends layout
block content_here
	//- 解问题
	.content
		img(src="/img/page-4.jpg")
		//- .content-padded
		//- 	div.topic
		//- 		div.box
		//- 			div.topic-title
		//- 				h1.h3 基础类
		//- 			div.comment
		//- 				div.text
		//- 					p 1	什么是三星乐园	
		//- 					p 2	如何与“三星乐园”合作
		//- 					p.c 请点击“寻*合作”按钮查看详情

		//- 	div.topic
		//- 		div.box
		//- 			div.topic-title
		//- 				h1.h3 积分类
		//- 			div.comment
		//- 				div.text
		//- 					p 1	乐园积分是什么	
		//- 					p.c 三星积分可以在“三星乐园”微信公众账号中使用，领取礼包等。
		//- 					p 2	如何获得积分	
		//- 					p.c 您可以通过“来*签到”和参加三星乐园微信公众账号活动获取。
		//- 					p 3	去哪查看我的积分	
		//- 					p.c 点击“查*积分”看看您的积分。
		//- 					p 4	积分都可以做些什么	
		//- 					p.c 您可以点击“试*手气”按钮参加抽奖，也可以到“查*积分”页面右侧的“积分兑换”页面兑换相应礼品。
		//- 					p 5	是否可以重复兑换物品	
		//- 					p.c 您可以通过积分兑换大多数相同类型奖品，游戏类除外。
		//- 					p 6	每天可以试几次手气	
		//- 					p.c 消耗足够积分即可参与“试*手气”，没有次数限制。
		//- 					p 7	三星乐园积分是永久的吗	
		//- 					p.c 您好，三星积分以一个自然年的1月1日起始计算，至一个自然年的12月31日止为一周期。即每年12月31日23：59分清空微信积分。建议您在每年12月31日前将积分进行兑换。



		//- 	div.topic
		//- 		div.box
		//- 			div.topic-title
		//- 				h1.h3 三星钱包
		//- 			div.comment
		//- 				div.text
		//- 					p 1	什么是三星钱包	
		//- 					p.c
		//- 					p 2	如何领取“优惠券”	
		//- 					p.c 点击您想获取的“优惠券”即可，系统会自动发送至您手机中的“三星钱包”内。
		//- 					p 3	如何查看我领取的优惠券	
		//- 					p.c 打开您手机中的“三星钱包”应用，在主页中即可查看已领取的优惠券。
		//- 					p 4	为什么我的手机不能装“三星钱包”	
		//- 					p.c
		//- 					p 5	三星钱包的优惠劵有使用期限吗？	
		//- 					p.c 每张优惠券都有不同的使用期限，使用前请自习检查优惠券的有效期。

		//- 	div.topic
		//- 		div.box
		//- 			div.topic-title
		//- 				h1.h3 活动
		//- 			div.comment
		//- 				div.text
		//- 					p 1	如何参加微信活动	
		//- 					p.c 您可阅读每一场活动的活动详情，了解活动参与方式。
		//- 					p 2	如何参加现场活动	
		//- 					p.c 您可阅读每一场活动的活动详情，了解活动参与方式。
		//- 					p 3	活动中奖如何查询	
		//- 					p.c 请您详细阅读活动规则，了解中奖查询信息。
		//- 					p 4	活动奖品如何领取	
		//- 					p.c 请您详细阅读活动规则，了解奖品发放详情。
		//- 	div.topic
		//- 		div.box
		//- 			div.topic-title
		//- 				h1.h3 聊话题
		//- 			div.comment
		//- 				div.text
		//- 					p 1	如何参与话题讨论	
		//- 					p.c 每日中午12时开放话题，在文本输入框内输入信息并发送，即可参与话题讨论。
		//- 					p 2	话题开发时间	
		//- 					p.c 每日中午12时至14时开放讨论话题。
		//- 					p 3	为什么看不到刚刚说的话了	
		//- 					p.c 话题讨论页面为时事刷新、阅后即焚形式。
		//- 					p 4	如何得知参与话题讨论中奖信息	
		//- 					p.c 您可通过话题讨论页面下方“上期中奖名单”中查看是否中奖。