extends layout
block title
	| 来签到
block content_here
	//- 来签到
	//- .weixin-share
		img(src="http://115.28.106.34/img/weixin-page7.jpg")
	.content
		div.registration
			a.l1(href="/art/6")
			a.l2(href="/active/1")
			a.l3(href="/art/15")
			a.l4(href="/sign/exchange/1")
			img(src="/img/qiandao-list.jpg")
		a(href="/sign/tointe",onclick="return qiandao()")
			img(src="/img/qdbtn.png")

block js_here
	script.
		var dataForWeixin={
		appId:  "",
		img:    "http://115.28.106.34/img/weixin-page7.jpg",
		url:    location.href,
		title:  "来签到",
		desc:   "若要得积分，赶紧来签到！每日签到都可获得积分哦~" || location.href || "For protection, click the condoms now.",
		fakeid: "",
		};
	script(src="/js/weixin.js")