extends layout
block content_here
	include nav
	.content
		.content-padded
			.myinte
				h1(style="text-align:center;") 注册
				form.form(name="register",action="/reg/up")
					div.form-group
						label 手机号码
						input(type="text",name="mobile",maxlength="11")
					div.form-group
						label 密码
						input(type="password",name="password")
					div.form-group
						label 确认密码
						input(type="password",name="passwordc")
					div.btn-list(style="text-align:center;")
						button.btn.btn-primary(type="button",onclick="post()") 注册
						a.btn(href="/login") 登录

		div.line
		.content-padded
			.rule-info
				h2 兑换规则
				h3 一、兑换说明
				ul
					li 1、根据积分累计情况兑换积分回馈礼品，兑换礼品所需积分总额大于可兑换积分余额兑换订单失效，需重新进行积分兑换。
					li 2、积分兑换订单提交成功积分回馈礼品确定后若不存在质量问题，积分兑换礼品不能退换，积分不予退回。
				h3 二、兑换说明
				ul
					li 1、兑换礼品按当天兑换公告为准。会员可在规定的时间内登陆积分兑换界面进行兑换。礼品数量有限，兑完为止。 
					li 2、不同产品，已经参加定值兑换的帐号，同时还可以参加竞价兑换，二者不冲突。同一种商品每位会员只限兑换一次。 
					li 3、本次活动最终解释权归三星乐园所有。 


	block js_here
		script.
			_submit = false;
			function post() {
				_submit = true;
				$.ajax({
					async: false,
					url: $('[name=register]').attr("action"),
					type: 'POST',
					data: $('[name=register]').serializeArray(),
					dataType: 'json',
					context: $('body'),
					success: function(msg) {
						if (msg.recode === 200) {
							showalert("注册成功,请登录",function(){
								window.location.href = "/login";
							});
							//- _hmt.push(['_trackEvent', '注册', '提交', '']);
						} else {
							_submit = false
							return showalert(msg.reason);
						}
					}
				});
			}