extends layout
block content_here
	.content(style="background:#fff;")
		img(src="/img/share-#{info}.jpg")
		a(href="http://mp.weixin.qq.com/s?__biz=MzA5MTUwMzMyNA==&mid=200560267&idx=1&sn=ff18fdd9bbf0efe2dde9ccc8d3028fb4#rd")
			img(src="/img/btn-iwant.jpg")